# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Compiled Binaries
bin/*
build/*

# Emacs files
BROWSE
*~

# VS Code
*.code-workspace
